<div class="partialforFooterIcons">
  <div class="theFooter">Connect with us!</div>
  <div class="fbicon">
    <a href="#"> <i class="bi bi-facebook"></i></a>
    <a href="#"><i class="bi bi-instagram"></i></a>
    <a href="#"><i class="bi bi-twitter"></i></a>
  </div>
</div>
