<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Let's create a new Category</h1>
      <form action="/list" method="POST">
        name:
        <input type="text" name="name" placeholder="Category Required" />
        <br />
        Date: <input type="text" name="date" placeholder="Optional" />
        <br />
        <input type="submit" value="Create a new category" />
      </form>
    </div>
  </body>
</html>
