<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/bootstraplink.ejs") %>
    <!--  -->
    <%- include ("./partials/fonts.ejs") %>
  </head>
  <body>
    <div class="container">
      <div class="containerTwo">
        <h1 class="newCategoryHeading">Create a new category</h1>
        <form class="newCategory" action="/list" method="POST">
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Name</span>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Category Required"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
          </div>
          <br />
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Date </span>
            <input
              type="text"
              name="date"
              class="form-control"
              placeholder="Optional"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
          </div>
          <br />
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Image</span>
            <input
              type="text"
              name="img"
              class="form-control"
              placeholder="Optional"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
          </div>
          <br />
          <div class="categoryBtns">
            <input class="btn btn-primary" type="submit" value="Submit" />
            <a class="btn btn-primary" href="/list"> Back</a>
          </div>
        </form>
        <br />
      </div>
      <br />
      <%- include ("./partials/icons.ejs") %>
    </div>
  </body>
</html>
