<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome new item!</h1>
      <form action="/list/<%=foundList.id%>/newitem" method="POST">
        New Item: <input type="text" name="name" />
        <br />
        <br />
        Notes: <input type="text" name="tags" />
        <br />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
